:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.2em;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
  @media screen and (width <=600px) {
    font-size: 0.8rem;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  @media screen and (width > 600px) {
    grid-column: span 2;
  }
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#banner {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: baseline;
  @media screen and (width <=600px) {
    grid-template-columns: 1fr;
  }
}

#map {
  width: 99vw;
  height: 75vh;
}

#street > span {
  font-size: 2.1rem;
  font-weight: 700;

  @media screen and (width <=600px) {
    font-size: 1.3rem;
  }
}

#timer {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1rem 0;
  @media screen and (width <=600px) {
    font-size: 1rem;
  }
}

@media screen and (width > 600px) {
  #finalScore {
    grid-column: span 2;
  }
}

.progress-container {
  position: relative;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.progress-bar {
  position: relative;
  flex: 1;
  height: 15px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.fire-truck {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-image: url("/rescue.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: left 0.5s ease-in-out;
}

.fire {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -10px;
  top: 10px;
  background-image: url("/fire.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}
